* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background:lightblue;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 50px;
}

.hero-text h1 span {
    color: #272535;
}

.hero-text button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #6290c2;
    border: none;
    color: lightpink;
    border-radius: 5px;
    cursor: pointer;
}

.hero-img img {
    width: 250px;
    border-radius: 50%;
    background-color: rgb(239, 22, 83);
}

section {
    padding: 60px 50px;
    text-align: center;
}

.skills .skill-box span {
    display: inline-block;
    background: lightblue;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}

.project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #ced390;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.contact button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}


footer {
    background:lightblue;
    padding: 15px;
    text-align: center;
}